.footer {
    background: #ffffff;
    border-top: 1px solid #e5e7eb;
    margin-top: 60px;

}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15 px;
}

.logo-icon {
    color: #2563eb;
    margin-right: 8px;
}

.footer-desc {
    font-size: 14px;
    color: #6b7280;
    line-height: 1.6;
}

.footer-col h4 {
    font-size: 16px;
    color: #111827;
    margin-bottom: 15px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #6b7280;
    font-size: 14px;
}

.footer-col ul li a:hover {
    color: #2563eb;
}

/* Newsletter */
.newsletter-form {
    display: flex;
    gap: 10px;
}

.newsletter-form input {
    flex: 1;
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    font-size: 14px;
}

.newsletter-form button {
    background: #2563eb;
    border: none;
    border-radius: 10px;
    padding: 0 14px;
    cursor: pointer;
}

/*FOOTER BOTTOM*/
.footer-bottom {
    border-top: 1px solid #e5e7eb;
    padding: 20px 0;
}

.footer-bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #6b7280;
}

/*RESPONSIVE*/
@media (max-width: 1200px) {
    .container {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .footer-container {
        grid-template-columns: 1fr;
    }

    .search-box input {
        width: 140px;
    }
}