.main-container {
    margin-top :20px;
    max-width: 500px;
    margin: 40px auto;
    background: #fff;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight: 500;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.2s;
}

input:focus,
textarea:focus {
    border-color: #2563eb;
    outline: none;
}

textarea {
    resize: none;
    height: 80px;
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-submit:hover {
    background: #1e40af;
}

.error {
    color: red;
    font-size: 13px;
    margin-bottom: 10px;
}
.toast-success {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    min-width: 280px;
    max-width: 360px;

    background: #22c55e;
    color: #fff;
    padding: 12px 16px;
    border-radius: 8px;

    font-size: 14px;
    text-align: center;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    z-index: 9999;

    animation: slideDown .35s ease-out, fadeOut .3s ease-in 2.5s forwards;
}

.back{
    width: 100%;
    padding: 10px;
    background-color: #2563eb;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    text-align: center;

}
.back span{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
    font-size: 14px;
}
.back:hover{
background: #1e40af;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
}